@import url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_JAMO@1.0/Diphylleia-Regular.woff2");

// font
$font-main: Diphylleia-Regular, sans-serif !important;

// color
$color-black: #434343;
$color-white: #F8F8F8;
$color-deepyell: #F7C873;
$color-lightyell: #FAEBCD;