@import "./variable";

.page-size {
  height: 100vh;
  width: 100vw;
  min-width: 1200px;
}

.font-default {
  font-family: $font-main;
  font-weight: bold;
  font-size: 20px;
}

.App {
  @extend .font-default;
  @extend .page-size;
}

.headerLayout {
  @extend .font-default;
  background-color: $color-black;
  height: 30px;
  padding: 10px 20px;
  border-bottom: 1px solid $color-white;
}

.footerLayout {
  font-family: $font-main;
  font-size: 10px;
  color: $color-white;
  background-color: $color-black;
  padding: 20px 20px 30px;
  border-top: 1px solid $color-white;
}

a {
  text-decoration: none;
}

.logo {
  @extend .font-default;
  color: $color-deepyell;
  position: absolute;
  top: 4px;
  left: 10px;
}

.searchBox {
  position: absolute;
  top: 5px;
  right: 100px;
  height: 27px;
  width: 250px;
  background-color: white;
  border-radius: 7px;
}

.searchBox:hover {
  outline: 2px solid $color-deepyell;
}

.searchInput {
  position: absolute;
  top: 2.5px;
  right: 17px;
  height: 20px;
  width: 200px;
  border: 0px;
}

.searchInput:focus {
  outline: none;
}

.signButton {
  position: absolute;
  top: 4px;
  right: 17px;
  height: 27px;
  width: 75px;
  border: 0px;
  background-color: $color-lightyell;
  border-radius: 7px;
  font-family: $font-main;
  font-size: 15px;
}

.signButton:hover {
  background-color: $color-deepyell;
}

.searchIcon {
  position: absolute;
  top: 5px;
  left: 3px;
}

/* Body */



/* Card Group (기본화면 컨텐츠 리스트) */
