@import "./variable";

.page-size {
  height: 100vh;
  width: 100vw;
  min-width: 1200px;
}

.font-default {
  font-family: $font-main;
  font-weight: bold;
  font-size: 20px;
}

.App {
  @extend .font-default;
  @extend .page-size;
}

.headerLayout {
  @extend .font-default;
  background-color: $color-black;
  height: 30px;
  padding: 10px 20px;
  border-bottom: 1px solid $color-white;
}

.footerLayout {
  font-family: $font-main;
  font-size: 10px;
  color: $color-white;
  background-color: $color-black;
  padding: 20px 20px 30px;
  border-top: 1px solid $color-white;
}

a {
  text-decoration: none;
}

.logo {
  @extend .font-default;
  color: $color-deepyell;
  position: absolute;
  top: 4px;
  left: 10px;
}

.searchBox {
  position: absolute;
  top: 5px;
  right: 100px;
  height: 27px;
  width: 250px;
  background-color: white;
  border-radius: 7px;
}

.searchBox:hover {
  outline: 2px solid $color-deepyell;
}

.searchInput {
  position: absolute;
  top: 2.5px;
  right: 17px;
  height: 20px;
  width: 200px;
  border: 0px;
}

.searchInput:focus {
  outline: none;
}

.signButton {
  position: absolute;
  top: 4px;
  right: 17px;
  height: 27px;
  width: 75px;
  border: 0px;
  background-color: $color-lightyell;
  border-radius: 7px;
  font-family: $font-main;
  font-size: 15px;
}

.signButton:hover {
  background-color: $color-deepyell;
}

.searchIcon {
  position: absolute;
  top: 5px;
  left: 3px;
}

/* Body */
.BodyWrapper {
  display: flex;
  justify-content: center;
  height: calc(100vh - (50px + 158px) - 20px);
  background-color: $color-black;
  padding: 10px 20px;
  overflow: scroll;
}

.ContentWrapper {
  min-height: 360px;
  width: 1200px;
  // width: 90%;
}

.ContentTitle {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  height: 40px;
  padding-bottom: 10px;
  color: $color-white;
  span {
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
  }
}

/* Card Group (기본화면 컨텐츠 리스트) */
.CardWrapper {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr;
  height: 225px;
  width: 1200px;
}

.MovieCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: $color-white;
  // 영화 정보
  div:nth-child(1) {
    display: flex;
    flex-direction: column;
    margin: 0 16px 16px;
    #MovieCardTitle {
      font-size: 1.4rem;
    }
    #MovieCardDesc {
      font-size: 0.8rem;
    }
  }
}