@import url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_JAMO@1.0/Diphylleia-Regular.woff2");

$font-main: Diphylleia-Regular, sans-serif !important;
$color-black: #434343;

.page-size {
  width: 100vw;
  height: 100vh;
}

.font-default {
    font-family: $font-main;
    font-weight: bold;
    font-size: 20px;
}

.App {
    @extend .font-default;
    @extend .page-size;
}

.MainLayout {
    @extend .page-size;
    background-color: $color-black;
}
    
.header {
    @extend .font-default;
    color:#F7C873;
}


a {
    text-decoration: none;
}

nav {
    float: right;
}  

.nav input[type="text"]{
    @extend .font-default;
}